:root{
    --main-bg-color:#236167;
    --area-color:#6DA0A5;
    --link-color:#B5D4D7;
    --accent-color:#417C81;
    --text-bg-color:rgba(65, 124, 129, 0.4);
}


html {
    font-size: 16px;
    font-family: Helvetica;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

nav a {
    color: var(--link-color);
    margin-left: 8px;
    display: inline-block;
    border: 10px white;
}

img {
    width: 33%
}

header {
    position: fixed;
}

html {
    background-color: var(--main-bg-color);
}


hr {
    border-color:var(--accent-color);
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

.Section {
    margin: 6px;
    padding: 10px;
}

.Navigation {
    background-color: var(--text-bg-color);
}
.Mobile_Menu {
    display: none;
}

.Hero_Text {
    font-size: 3.5rem;
    color: var(--link-color);
    background-color: var(--text-bg-color);
}

.Hero_Image_Area {
    margin: 0px
}

.Hero_Image {
    width: 100%;
    height:auto;
    z-index: -1;
    margin: 0px;
    margin-top: -50px;
    position: relative;
}

.About_Me {
    background-color: var(--area-color);
}

.My_Picture {
    float: right;
    margin-left: 16px;
}

.UX_Design_Cases {
    background-color: var(--area-color);
}

.Web_Dev {
    background-color: var(--area-color);
}

.Prototyping {
    background-color: var(--area-color);
}

.Graphic_Design {
    background-color: var(--area-color);
}


.Graphic_Design_Pictures {
    width: 40%;
    margin-left: 5%
}

.Graphic_Design:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.Articles_Section {
    width: 90vw;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
}


.Articles {
    background-color: var(--area-color);
}

.Article {

}


.Articles:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.Social_Media {
    background-color: var(--area-color);
}

.Social_Links_Area {
    width: 90vw;
    display: grid;
    grid-template-columns: 33vw 33vw;
    grid-template-rows:
}

.Social_Link {
    margin: 10px;
    padding: 10px;
    padding-top: 0;
}

.Social_Links_Area:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.Social_Icon {
    font-size: 2rem;
}

.Contact_Me {
    background-color: var(--area-color);
}

@media only screen and (orientation: portrait) {
    html{
        font-size: 40px;
        font-family: Helvetica;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;

    }

    img {
        width: 66%
    }
    header {
        position: absolute;
    }

    .Hero_Image_Area {
        margin: 0px
    }

    .Hero_Image {
        width: 100%;
        height:auto;
        z-index: -1;
        margin: 0px;
        margin-top: -150px;
        position: relative;
    }

    .Hero_Text {
        font-size: 2rem;
        color: var(--link-color);
        background-color: var(--text-bg-color);
    }

    .Articles_Section {
    width: 90vw;
    display: grid;
    grid-template-columns: 90vw;
    }

    .Social_Links_Area {
    width: 90vw;
    display: grid;
    grid-template-columns: 90vw;
    }


    .Graphic_Design_Pictures {
        width: 75%;
        margin-left: 5%;
        margin-bottom: 10px;
    }

    .Navigation {
        display: none;
    }

    .Mobile_Menu {
        font-size: 1rem;
        display: inline-block;
        position: absolute;
        color: var(--link-color);
        left: 10px;
        top: 10px;
    }

    .Icon {
        font-size: 1.5rem;
        margin-bottom: -10px;
    }

    .Mobile_Menu_Items ul {
        position:absolute;
    }

    .Mobile_Menu_Items li {
        display: inline-block;
        list-style: none;
        width: 350px;
    }

    .Mobile_Menu_Items a {
        color: var(--link-color);
    }

    #Burger_Checkbox {
        display: none;
    }

    .Mobile_Menu_Items{
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        background-color: var(--text-bg-color);
    }

    .Burger_Checked:checked ~ .Mobile_Menu_Items {
        max-height: 1000px;
    }

}
