:root{
    --main-bg-color:#236167;
    --area-color:#6DA0A5;
    --link-color:#B5D4D7;
    --accent-color:#417C81;
    --text-bg-color:rgba(65, 124, 129, 0.2);
}

html {
    font-size: 16px;
    font-family: Helvetica;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

nav a {
    color: var(--link-color);
    margin-left: 8px;
}

img {
    width: 33%
}

html {
    background-color: var(--main-bg-color);
}

div {
    margin: 8px;
    padding: 8px;
}

.Navigation {
    display: inline-block;
}

.Hero_Text {
    font-size: 3.5rem;
    color: var(--accent-color);
    background-color: var(--text-bg-color);
}

.Hero_Image_Area {
    margin: 0px
}

.Hero_Image {
    width: 100%;
    height:auto;
    z-index: -1;
    margin: 0px;
    margin-top: -150px;
    position: relative;
}

.About_Me {
    background-color: var(--area-color);

}

.My_Picture {
    float: right;
    margin-left: 16px;
}

.UX_Design_Cases {
    background-color: var(--area-color);
}

.Web_Dev {
    background-color: var(--area-color);
}

.Prototyping {
    background-color: var(--area-color);
}

.Graphic_Design {
    background-color: var(--area-color);
}



.Graphic_Design:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.Articles {
    background-color: var(--area-color);
}

.Item {
    float: left;
    width: 25%;
    height: 18rem;
    /* border: 1px solid black; */
    overflow: visible;
}

.Articles:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.Social_Media {
    background-color: var(--area-color);
}

.Social_Links {
}

.Social_Links:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.Social_Link {
    float: left;
    width: 20vw;
    font-size: 24px;
}

.Contact_Me {
    background-color: var(--area-color);
}

@media only screen and (orientation: portrait) {
html{
  font-size: 20px;
}
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;

}

img {
    width: 66%
}


.Hero_Text {
    font-size: 2rem;
    color: var(--accent-color);
    background-color: var(--text-bg-color);
}

.Social_Link {
    display: inline-block;
    float: left;
    width: 40%;
    height: 4rem;
    font-size: 1.5rem;
}

.Item {
    float: left;
    width: 40%;
    height: 18rem;
    font-size: 1.5rem;
    /* border: 1px solid black; */
    overflow: visible;
}

}
