:root{
    --main-bg-color:#236167;
    --area-color:#417C81;
    --link-color:#68979B;
}

html {
    font-size: 16px;
    font-family: Helvetica;
}

h1 {
    font-size: 2rem;
    display:block;
}

h2 {
    font-size: 1.5rem;
    display: block;
}

nav a {
    color: var(--link-color);
}

img {
    width: 25%
}

html {
    background-color: var(--main-bg-color);
}

div {
    margin: 8px;
    padding: 8px;
}

.Navigation {
    background-color: var(--area-color);
}

.Hero_Text {
    font-size: 2.5rem;
}


.Hero_Image {
    width: 100%;
}

.About_Me {
    background-color: var(--area-color);
}

.My_Picture {
    float: right;
    margin-left: 16px;
}

.Web_Dev {
    background-color: var(--area-color);
}

.Prototyping {
    background-color: var(--area-color);
}

.Graphic_Design {
    background-color: var(--area-color);
}

.UX_Design_Cases {
    background-color: var(--area-color);
}

.Articles {
    background-color: var(--area-color);
}

.Post {
    float: left;
    width: 25%;
    height: 16rem;
    border: 1px solid black;
    overflow: visible;
}

.Articles:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.Social_Media {
    background-color: var(--area-color);
}

.Contact_Me {
    background-color: var(--area-color);
}
